<section class="diagonal-block">
    <div class="diagonal-block__content">
        <div class="diagonal-block__top">
            <h2 class="diagonal-block__heading js-fade-in-and-slide">
                История
            </h2>

            <div class="diagonal-block__text js-fade-in-and-slide">
                DALI — это театр кухни в историческом центре Казани. Необычная игра вкусов, большая винная карта,
                удивительные вечера, живая музыка, гастроужины, невероятная атмосфера.
            </div>
        </div>
        <div class="diagonal-block__row">

            <div class="diagonal-block__left-col">
                <div class="diagonal-block__left-image-wrapper js-fade-in js-image-parallax">
                    <div class="diagonal-block__parallax-wrapper js-image-parallax-wrapper">
                        <img src="/images/diagonal/3.webp" alt="" class="diagonal-block__left-image">
                    </div>
                </div>
                <div class="diagonal-block__small-text js-fade-in-and-slide">
                    <p>
                        Немного исторической справки о том, что здание относится к категории «Пожарные депо,
                        наблюдательные пункты и вышки», и что-то там было долгое время в старинные годы
                    </p>

                </div>
            </div>
            <div class="diagonal-block__right-col">
                <div class="diagonal-block__right-image-wrapper js-fade-in js-image-parallax-reversed">
                    <div
                        class="diagonal-block__parallax-wrapper diagonal-block__parallax-wrapper--inversed js-image-parallax-wrapper">
                        <img src="/images/diagonal/4.webp" alt="" class="diagonal-block__right-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>