<section class="about-images">
    <div class="about-images__row">
        <div class="about-images__item js-image-parallax">
            <div class="about-images__item-parallax-wrapper js-image-parallax-wrapper">
                <img src="/images/about-images/1.webp" alt="" class="about-images__image">
            </div>
        </div>
        <div class="about-images__item js-image-parallax">
            <div class="about-images__item-parallax-wrapper js-image-parallax-wrapper">
                <img src="/images/about-images/2.webp" alt="" class="about-images__image">
            </div>
        </div>
        <div class="about-images__item js-image-parallax">
            <div class="about-images__item-parallax-wrapper js-image-parallax-wrapper">
                <img src="/images/about-images/3.webp" alt="" class="about-images__image">
            </div>
        </div>
    </div>
</section>