<section class="master-class">
    <div class="master-class__content">
        <h2 class="master-class__heading">
            Уникальные арт объекты и отслыки сюрреализма
        </h2>
        <div class="master-class__text-content">
            <div class="master-class__text">
                <p>
                    Нередко мой бренд-шеф выкладывает ингредиенты на тарелке таким образом,что это похоже на
                    произведение искусства.
                </p>
                <p>
                    Необычная игра вкусов, большая винная карта, удивительные вечера, живая музыка, гастроужины,
                    невероятная атмосфера.
                </p>
            </div>

        </div>
    </div>
</section>