<section class="banquets">
    <div class="banquets__content">
        <div class="banquets__text">
            Самые красивые и незабываемые банкеты вы устроите только у нас, с нашей восхитительной кухней
        </div>
        <div class="banquets__row">
            <img src="/images/banquet-decor.webp" alt="" class="banquets__decor">
            <div class="banquets__wrapper">
                <div class="banquets__desc">
                    <p>
                        Нередко мой бренд-шеф выкладывает ингредиенты на тарелке таким образом,что это похоже на
                        произведение
                        искусства.
                    </p>
                    <p>
                        Необычная игра вкусов, большая винная карта, удивительные вечера, живая музыка, гастроужины,
                        невероятная
                        атмосфера.
                    </p>
                </div>
                <a href="#" class="banquets__link">
                    Заказать банкет
                </a>
            </div>
        </div>


    </div>
</section>