<section class="booking">
    <div class="booking__content">
        <div class="booking__card">
            <h2 class="booking__card-title">
                Забронируйте столик
            </h2>
            <a href="#" class="booking__link">
                Забронировать
            </a>

            <div class="contacts__map-wrapper" data-lat="56.262697" data-lng="43.942682">
                <div class="contacts__map-element" id="contacts-map">

                </div>
            </div>
        </div>
    </div>
</section>