<section class="booking">
    <div class="booking__content">
        <div class="booking__card">
            <h2 class="booking__card-title">
                Забронируйте столик
            </h2>
            <form action="/" method="POST" class="booking__form js-form">
                <div class="booking__form-fields">
                    <div class="booking__form-field">
                        <div class="booking__form-input-wrapper">
                            <input type="text" class="booking__form-input" placeholder="Имя" required="">
                        </div>
                    </div>
                    <div class="booking__form-field">
                        <div class="booking__form-input-wrapper">
                            <input type="tel" class="booking__form-input" placeholder="Телефон" required="">
                        </div>
                    </div>
                    <div class="booking__form-field">
                        <div class="booking__form-input-wrapper">
                            <input type="text" class="booking__form-input" placeholder="Сколько гостей" required=""
                                inputmode="numeric">
                        </div>
                    </div>
                    <div class="booking__form-field">
                        <div class="booking__form-input-wrapper">
                            <input type="text" class="booking__form-input" placeholder="Дата" required="">
                        </div>
                    </div>
                    <div class="booking__form-field">
                        <div class="booking__form-input-wrapper">
                            <input type="text" class="booking__form-input" placeholder="Время" required="">
                        </div>
                    </div>

                </div>
                <button class="booking__form-submit" type="submit">
                    Забронировать
                </button>
                <div class="booking__form-policy">
                    <label class="booking__form-policy-checkbox">
                        <input type="checkbox" class="booking__form-policy-checkbox-input" name="policy" value="Y"
                            required="" checked="">
                        <span class="booking__form-policy-checkbox-mark">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#checkmark"></use>
                            </svg>
                        </span>
                        <span class="booking__form-policy-checkbox-text">
                            Я согласен на <a href="#">обработку персональных данных</a>
                        </span>
                    </label>
                </div>
            </form>

            <div class="contacts__map-wrapper" data-lat="56.262697" data-lng="43.942682">
                <div class="contacts__map-element" id="contacts-map">

                </div>
            </div>
        </div>
    </div>
</section>