<section class="brand">
    <div class="brand__content">

        <h2 class="brand__heading js-fade-in-and-slide">
            о кухне
        </h2>
        <div class="brand__row">
            <div class="brand__left-col">
                <div class="brand__text-content">
                    <h3 class="brand__secondary-heading js-fade-in-and-slide">
                        Бренд-шеф DALI —<br> Артем Естафьев
                    </h3>
                    <div class="brand__text js-fade-in-and-slide">
                        <p>
                            Артем Естафьев несколько лет работал шеф-поваром в Санкт-Петербурге, стажировалсяв Париже в
                            ресторанах Alain Ducasse au Plaza Athénée и Le Meurice Alain Ducasse.
                        </p>
                        <p>
                            За шефским столом сервируют только авторские сеты. На кухне — только российские продукты, в
                            том числеи дикоросы. Артем много работаетс фермерами.
                        </p>
                    </div>
                </div>
                <div class="brand__left-image-container js-image-parallax js-fade-in">
                    <div class="brand__parallax-wrapper js-image-parallax-wrapper">
                        <img src="/images/brand/1.webp" alt="" class="brand__left-image" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="brand__right-col">
                <div class="brand__right-top-image-container js-fade-in js-image-parallax-reversed">
                    <div class="brand__parallax-wrapper brand__parallax-wrapper--inversed js-image-parallax-wrapper">
                        <img src="/images/brand/2.webp" alt="" class="brand__right-top-image" loading="lazy">
                    </div>
                </div>
                <div class="brand__right-wrapper">
                    <div class="brand__right-bottom-image-container js-image-parallax js-fade-in">
                        <div class="brand__parallax-wrapper js-image-parallax-wrapper">
                            <img src="/images/brand/3.webp" alt="" class="brand__right-bottom-image" loading="lazy">
                        </div>
                    </div>
                    <div class="brand__text js-fade-in-and-slide">
                        <p>
                            Для разработки блюд есть лаборатория, где изучают процессы ферментации, готовят собственные
                            уксусы (в том числе из черноплодной рябины, дыни, персика, перца ласточка, моркови и т.д.) и
                            мисо (например, с цедрой апельсина, из четырех видов орехов и др.).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>