<section class="caraoke">
    <div class="caraoke__content">

        <div class="caraoke__large-text">
            Это культурное караоке в историческом центре Казани, где ты можешь отдохнуть с друзьямии поесть кулинарные
            шедевры от нашего шефа
        </div>
        <div class="caraoke__text-wrapper">
            <img src="/images/mic.svg" alt="" class="caraoke__decor">
            <div class="caraoke__text">
                <p>
                    Нередко мой бренд-шеф выкладывает ингредиенты на тарелке таким образом,что это похоже на
                    произведение
                    искусства.
                </p>
                <p>
                    Необычная игра вкусов, большая винная карта, удивительные вечера, живая музыка, гастроужины,
                    невероятная
                    атмосфера.
                </p>
            </div>
        </div>
    </div>
</section>