<section class="catering" id="catering">
    <div class="catering__content">
        <div class="catering__top-row">
            <h2 class="catering__heading js-fade-in-and-slide">
                Услуги кейтеринга
            </h2>
            <div class="catering__text-content">
                <div class="catering__text js-fade-in-and-slide">
                    <p>
                        Лучшее решение для организации мероприятия на частной территории или природе. Данная услуга
                        позволяет провести торжество в любом месте, при этом обслуживание будет на уровне лучших
                        ресторанов.
                    </p>
                    <p>
                        Готовы обсудить все детали вашего мероприятия и подготовить лучшее решение
                    </p>
                </div>
                <a href="#" class="catering__link js-fade-in-and-slide">
                    Заказать кейтеринг
                </a>
            </div>
        </div>

    </div>

    <ul class="catering__images-list">
        <li class="catering__images-list-item">
            <div class="catering__images-card js-image-parallax">
                <div class="catering__images-card-parallax js-image-parallax-wrapper">
                    <img src="/images/catering/1.webp" alt="" class="catering__image">
                </div>
            </div>
        </li>
        <li class="catering__images-list-item">
            <div class="catering__images-card js-image-parallax">
                <div class="catering__images-card-parallax js-image-parallax-wrapper">
                    <img src="/images/catering/2.webp" alt="" class="catering__image">
                </div>
            </div>
        </li>
        <li class="catering__images-list-item">
            <div class="catering__images-card js-image-parallax">
                <div class="catering__images-card-parallax js-image-parallax-wrapper">
                    <img src="/images/catering/3.webp" alt="" class="catering__image">
                </div>
            </div>
        </li>
    </ul>
</section>