<section class="chief">
    <div class="chief__content">
        <div class="chief__quote">
            Мы гордимся каждым нашим сотрудником. Каждый из них вносит вклад в развитие и креатив нашего ресторана
        </div>
        <div class="chief__row">
            <div class="chief__text-content">
                <h2 class="chief__heading">
                    Бренд-шеф DALI — Ильгиз Галиев
                </h2>
                <div class="chief__text">
                    <p>
                        Артем Естафьев несколько лет работал шеф-поваром в Санкт-Петербурге, стажировалсяв Париже в
                        ресторанах Alain Ducasse au Plaza Athénée и Le Meurice Alain Ducasse.
                    </p>
                    <p>
                        За шефским столом сервируют только авторские сеты. На кухне — только российские продукты, в том
                        числеи дикоросы. Артем много работаетс фермерами.
                    </p>
                </div>
            </div>
            <div class="chief__image-wrapper">
                <img src="/images/chief.webp" alt="" class="chief__image" loading="lazy">
            </div>
        </div>
    </div>
</section>