<section class="contacts">
    <div class="contacts__content">
        <div class="contacts__row">
            <div class="contacts__left-col">


                <div class="contacts__address">
                    Казань, ул.<br> Московская, дом 36
                </div>
                <a href="tel:89395095509" class="contacts__phone">8 (939) 509-55-09</a>
                <div class="contacts__wrapper">
                    <ul class="contacts__schedule-list">
                        <li class="contacts__schedule-list-item">
                            <h3 class="contacts__schedule-heading">
                                Режим работы
                            </h3>
                            <div class="contacts__schedule-text">
                                Пн-Чт, Вс:‌ 12:00 — 23:00<br>Пт-Сб: 12:00 — 03:00
                            </div>
                        </li>
                        <li class="contacts__schedule-list-item">
                            <h3 class="contacts__schedule-heading">
                                Режим работы караоке-зала
                            </h3>
                            <div class="contacts__schedule-text">
                                Пт-Сб: 19:00 — 03:00
                            </div>
                        </li>
                    </ul>
                    <ul class="contacts__social-list">
                        <li class="contacts__social-list-item">
                            <a href="#" class="contacts__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                                dali.rest
                            </a>
                        </li>
                        <li class="contacts__social-list-item">
                            <a href="#" class="contacts__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#vk"></use>
                                </svg>
                                @dali.rest
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="contacts__callback-btn">
                        Позвонить
                    </a>
                </div>
            </div>
            <div class="contacts__right-col">
                <div class="contacts__images-grid">
                    <div class="contacts__images-grid-item">
                        <img src="/images/contacts/1.webp" alt="" class="contacts__images-grid-image">
                    </div>
                    <div class="contacts__images-grid-item">
                        <img src="/images/contacts/2.webp" alt="" class="contacts__images-grid-image">
                    </div>
                </div>
            </div>
        </div>
        <div class="contacts__map-wrapper" data-lat="56.262697" data-lng="43.942682" data-pin="/images/pin.svg">
            <div class="contacts__map-element" id="contacts-map">

            </div>
        </div>
    </div>
</section>