<section class="image-grid">
    <div class="image-grid__content">
        <div class="image-grid__item js-image-parallax">
            <div class="image-grid__item-parallax-wrapper js-image-parallax-wrapper">
                <img src="/images/event-image-grid/1.webp" alt="" class="image-grid__item-image">
            </div>
        </div>
        <div class="image-grid__item js-image-parallax">
            <div class="image-grid__item-parallax-wrapper js-image-parallax-wrapper">
                <img src="/images/event-image-grid/2.webp" alt="" class="image-grid__item-image">
            </div>
        </div>
        <div class="image-grid__item js-image-parallax">
            <div class="image-grid__item-parallax-wrapper js-image-parallax-wrapper">
                <img src="/images/event-image-grid/3.webp" alt="" class="image-grid__item-image">
            </div>
        </div>
    </div>
</section>