<footer class="page-footer">
    <div class="page-footer__content">
        <div class="page-footer__top-row">
            <div class="page-footer__left-col">
                <div class="page-footer__logo">
                    <img src="/images/logo.svg" alt="" class="page-footer__logo-image">
                </div>
            </div>
            <div class="page-footer__right-col">
                <nav class="page-footer__nav">
                    <ul>
                        <li>
                            <a href="#">
                                Эстетика DALI
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Мероприятия
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                О нас
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Кейтеринг
                            </a>
                        </li>
                        <li>
                            <a href="/menu.html">
                                Меню
                            </a>
                        </li>
                        <li>
                            <a href="/contacts.html">
                                Контакты
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Караоке
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Забронировать
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="page-footer__contacts-wrapper">
                    <div class="page-footer__contacts-col">
                        <div class="page-footer__contacts-block">
                            <h4 class="page-footer__contacts-block-title">
                                Контакты
                            </h4>
                            <div class="page-footer__contacts-item">
                                Казань, ул. Московская, дом 36
                            </div>
                            <a href="tel:89395095509" class="page-footer__contacts-item">
                                8 (939) 509-55-09
                            </a>
                            <a href="#" class="page-footer__contacts-item">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#telegram"></use>
                                </svg>
                                dali.rest
                            </a>
                            <a href="#" class="page-footer__contacts-item">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#vk"></use>
                                </svg>
                                @dali.rest
                            </a>
                        </div>
                    </div>
                    <div class="page-footer__contacts-col">
                        <div class="page-footer__contacts-block">
                            <h4 class="page-footer__contacts-block-title">
                                Режим работы
                            </h4>
                            <div class="page-footer__contacts-item">
                                Пн-Чт, Вс:‌ 12:00 — 23:00<br>
                                Пт-Сб: 12:00 — 03:00
                            </div>
                        </div>
                        <div class="page-footer__contacts-block">
                            <h4 class="page-footer__contacts-block-title">
                                Режим работы караоке-зала
                            </h4>
                            <div class="page-footer__contacts-item">
                                Пт-Сб: 19:00 — 03:00
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-footer__bottom-row">
            <div class="page-footer__copyright">
                ©Рестобар DALI. Все права защищены. 2023 г.
            </div>
            <a href="#" class="page-footer__made-by">
                Это сделал
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#on-heet"></use>
                </svg>
            </a>
        </div>


    </div>
</footer>