<section class="hall">
    <div class="hall__content">
        <div class="hall__heading-wrapper js-fade-in-and-slide">
            <img src="/images/halls/2.svg" alt="" class="hall__number">
            <h2 class="hall__heading">
                VIP зал
            </h2>
        </div>

    </div>
    <div class="hall__image-wrapper js-image-parallax js-fade-in">
        <div class="hall__image-parallax-wrapper js-image-parallax-wrapper">
            <img src="/images/halls/2.webp" alt="" class="hall__image">
        </div>
    </div>
</section>