<section class="images-slider images-slider--large-margin js-images-slider">
    <div class="images-slider__content">
        <div class="images-slider__button">
            Тяни влево
        </div>
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="images-slider__card">
                        <img src="/images/images-slider/10.webp" alt="" class="images-slider__card-image">
                    </div>
                </div>
                <div class="swiper-slide swiper-slide--rectangle">
                    <div class="images-slider__card">
                        <img src="/images/images-slider/11.webp" alt="" class="images-slider__card-image">
                    </div>
                </div>
                <div class="swiper-slide swiper-slide--vertical">
                    <div class="images-slider__card">
                        <img src="/images/images-slider/12.webp" alt="" class="images-slider__card-image">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="images-slider__card">
                        <img src="/images/images-slider/10.webp" alt="" class="images-slider__card-image">
                    </div>
                </div>
                <div class="swiper-slide swiper-slide--rectangle">
                    <div class="images-slider__card">
                        <img src="/images/images-slider/11.webp" alt="" class="images-slider__card-image">
                    </div>
                </div>
                <div class="swiper-slide swiper-slide--vertical">
                    <div class="images-slider__card">
                        <img src="/images/images-slider/12.webp" alt="" class="images-slider__card-image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>