<section class="diagonal-block">
    <div class="diagonal-block__content">
        <div class="diagonal-block__top">
            <h2 class="diagonal-block__heading">
                О ресторане
            </h2>

            <div class="diagonal-block__text">
                Holla, меня зовут DALI! Со мной ты отправишьсяв гастрономическое путешествие с природнымии локальными
                продуктами в новом прочтении
            </div>
        </div>
        <div class="diagonal-block__row">
            <div class="diagonal-block__left-col">
                <div class="diagonal-block__left-image-wrapper">
                    <img src="/images/diagonal/1.webp" alt="" class="diagonal-block__left-image">
                </div>
                <div class="diagonal-block__small-text">
                    <p>
                        Нередко мой бренд-шеф выкладывает ингредиенты на тарелке таким образом,что это похоже на
                        произведение искусства.
                    </p>
                    <p>
                        Необычная игра вкусов, большая винная карта, удивительные вечера, живая музыка, гастроужины,
                        невероятная атмосфера.
                    </p>
                </div>
            </div>
            <div class="diagonal-block__right-col">
                <div class="diagonal-block__right-image-wrapper">
                    <img src="/images/diagonal/2.webp" alt="" class="diagonal-block__right-image">
                </div>
            </div>
        </div>
    </div>
</section>