<section class="master-class">
    <div class="master-class__content">
        <h2 class="master-class__heading js-fade-in-and-slide">
            Мастер-класс в эпицентре кретатива
        </h2>
        <div class="master-class__text-content">
            <div class="master-class__text js-fade-in-and-slide">
                <p>
                    Нередко мой бренд-шеф выкладывает ингредиенты на тарелке таким образом,что это похоже на
                    произведение искусства.
                </p>
                <p>
                    Необычная игра вкусов, большая винная карта, удивительные вечера, живая музыка, гастроужины,
                    невероятная атмосфера.
                </p>
            </div>
            <a href="#" class="master-class__link js-fade-in-and-slide">
                Заказать стол
            </a>
        </div>
    </div>
</section>