<section class="members">
    <div class="members__content">
        <img src="/images/members-decor.webp" alt="" class="members__decor">
        <img src="/images/members-bottom-decor.webp" alt="" class="members__bottom-decor">
        <ul class="members__list">
            <li class="members__list-item">
                <a href="#" class="members__card">
                    <div class="members__card-image-container">
                        <img src="/images/members/1.webp" alt="" class="members__card-image">
                    </div>
                    <h3 class="members__card-title">
                        Юрий Кириллов
                    </h3>
                    <div class="members__card-role">
                        Шеф-кондитер
                    </div>
                </a>
            </li>
            <li class="members__list-item">
                <a href="#" class="members__card">
                    <div class="members__card-image-container">
                        <img src="/images/members/2.webp" alt="" class="members__card-image">
                    </div>
                    <h3 class="members__card-title">
                        Юрий Кириллов
                    </h3>
                    <div class="members__card-role">
                        Шеф-кондитер
                    </div>
                </a>
            </li>
            <li class="members__list-item">
                <a href="#" class="members__card">
                    <div class="members__card-image-container">
                        <img src="/images/members/3.webp" alt="" class="members__card-image">
                    </div>
                    <h3 class="members__card-title">
                        Юрий Кириллов
                    </h3>
                    <div class="members__card-role">
                        Шеф-кондитер
                    </div>
                </a>
            </li>
            <li class="members__list-item">
                <a href="#" class="members__card">
                    <div class="members__card-image-container">
                        <img src="/images/members/2.webp" alt="" class="members__card-image">
                    </div>
                    <h3 class="members__card-title">
                        Юрий Кириллов
                    </h3>
                    <div class="members__card-role">
                        Шеф-кондитер
                    </div>
                </a>
            </li>
            <li class="members__list-item">
                <a href="#" class="members__card">
                    <div class="members__card-image-container">
                        <img src="/images/members/1.webp" alt="" class="members__card-image">
                    </div>
                    <h3 class="members__card-title">
                        Юрий Кириллов
                    </h3>
                    <div class="members__card-role">
                        Шеф-кондитер
                    </div>
                </a>
            </li>
            <li class="members__list-item">
                <a href="#" class="members__card">
                    <div class="members__card-image-container">
                        <img src="/images/members/2.webp" alt="" class="members__card-image">
                    </div>
                    <h3 class="members__card-title">
                        Юрий Кириллов
                    </h3>
                    <div class="members__card-role">
                        Шеф-кондитер
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>