<section class="menu">

    <div class="menu__content">
        <img src="/images/menu-right-decor.webp" alt="" class="menu__right-decor" loading="lazy">
        <img src="/images/menu-left-decor.webp" alt="" class="menu__left-decor" loading="lazy">
        <ul class="menu__list">
            <li class="menu__list-item">
                <a href="#" class="menu__card">
                    <div class="menu__card-bg">
                        <img src="/images/menu/1.webp" alt="" class="menu__card-bg-image">
                    </div>
                    <div class="menu__card-content">
                        <h2 class="menu__card-heading">
                            кухня
                        </h2>
                    </div>
                </a>
            </li>
            <li class="menu__list-item">
                <a href="#" class="menu__card">
                    <div class="menu__card-bg">
                        <img src="/images/menu/2.webp" alt="" class="menu__card-bg-image">
                    </div>
                    <div class="menu__card-content">
                        <h2 class="menu__card-heading">
                            Бар
                        </h2>
                    </div>
                </a>
            </li>
            <li class="menu__list-item">
                <a href="#" class="menu__card">
                    <div class="menu__card-bg">
                        <img src="/images/menu/3.webp" alt="" class="menu__card-bg-image">
                    </div>
                    <div class="menu__card-content">
                        <h2 class="menu__card-heading">
                            винная карта
                        </h2>
                    </div>
                </a>
            </li>
            <li class="menu__list-item">
                <a href="#" class="menu__card">
                    <div class="menu__card-bg">
                        <img src="/images/menu/4.webp" alt="" class="menu__card-bg-image">
                    </div>
                    <div class="menu__card-content">
                        <h2 class="menu__card-heading">
                            Детское меню
                        </h2>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>