<section class="our-time">
    <div class="our-time__content">
        <h2 class="our-time__heading js-fade-in-and-slide">
            Наше время
        </h2>
        <div class="our-time__row">
            <div class="our-time__large-text js-fade-in-and-slide">
                Теперь в здании находится ресторанс особой концепцией
            </div>
            <div class="our-time__small-text js-fade-in-and-slide">
                <p>
                    Артем Естафьев несколько лет работал шеф-поваром в Санкт-Петербурге, стажировался в Париже в
                    ресторанах Alain Ducasse au Plaza Athénée и Le Meurice Alain Ducasse.
                </p>
                <p>
                    За шефским столом сервируют только авторские сеты. На кухне — только российские продукты, в том
                    числе и дикоросы. Артем много работаетс фермерами.
                </p>
            </div>
        </div>
    </div>
</section>