<section class="ready js-images-slider">
    <div class="ready__content">
        <div class="ready__row">
            <h2 class="ready__heading js-fade-in-and-slide">
                Ты готов окунуться в&nbsp;гастрономический театр?
            </h2>
            <div class="ready__text js-fade-in-and-slide">
                <p>
                    Нередко мой бренд-шеф выкладывает ингредиенты на тарелке таким образом, что это похоже на
                    произведение искусства.
                </p>
                <p>
                    Необычная игра вкусов, большая винная карта, удивительные вечера, живая музыка, гастроужины,
                    невероятная атмосфера.
                </p>
            </div>
        </div>
        <div class="ready__slider js-fade-in">
            <div class="images-slider__button">
                Тяни влево
            </div>
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="images-slider__card">
                            <img src="/images/images-slider/16.webp" alt="" class="images-slider__card-image">
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide--rectangle">
                        <div class="images-slider__card">
                            <img src="/images/images-slider/17.webp" alt="" class="images-slider__card-image">
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide--vertical">
                        <div class="images-slider__card">
                            <img src="/images/images-slider/18.webp" alt="" class="images-slider__card-image">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="images-slider__card">
                            <img src="/images/images-slider/16.webp" alt="" class="images-slider__card-image">
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide--rectangle">
                        <div class="images-slider__card">
                            <img src="/images/images-slider/17.webp" alt="" class="images-slider__card-image">
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide--vertical">
                        <div class="images-slider__card">
                            <img src="/images/images-slider/18.webp" alt="" class="images-slider__card-image">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</section>