<section class="rest-menu">
    <div class="rest-menu__content">
        <img src="/images/rest-menu-left.webp" alt="" class="rest-menu__left-decor">
        <img src="/images/rest-menu-right.webp" alt="" class="rest-menu__right-decor">
        <div class="rest-menu__top-row">
            <div class="rest-menu__small-heading">
                Самое вкусное
            </div>
            <h2 class="rest-menu__heading">
                Меню ресторана
            </h2>
        </div>

        <ul class="rest-menu__list">
            <li class="rest-menu__list-item">
                <a href="#" class="rest-menu__card">
                    <div class="rest-menu__card-bg">
                        <img src="/images/menu/1.webp" alt="" class="rest-menu__card-bg-image">
                    </div>
                    <div class="rest-menu__card-content">
                        <h2 class="rest-menu__card-heading">
                            кухня
                        </h2>
                    </div>
                </a>
            </li>
            <li class="rest-menu__list-item">
                <a href="#" class="rest-menu__card">
                    <div class="rest-menu__card-bg">
                        <img src="/images/menu/2.webp" alt="" class="rest-menu__card-bg-image">
                    </div>
                    <div class="rest-menu__card-content">
                        <h2 class="rest-menu__card-heading">
                            Бар
                        </h2>
                    </div>
                </a>
            </li>
            <li class="rest-menu__list-item">
                <a href="#" class="rest-menu__card">
                    <div class="rest-menu__card-bg">
                        <img src="/images/menu/3.webp" alt="" class="rest-menu__card-bg-image">
                    </div>
                    <div class="rest-menu__card-content">
                        <h2 class="rest-menu__card-heading">
                            винная карта
                        </h2>
                    </div>
                </a>
            </li>
            <li class="rest-menu__list-item">
                <a href="#" class="rest-menu__card">
                    <div class="rest-menu__card-bg">
                        <img src="/images/menu/4.webp" alt="" class="rest-menu__card-bg-image">
                    </div>
                    <div class="rest-menu__card-content">
                        <h2 class="rest-menu__card-heading">
                            Детское меню
                        </h2>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>