<section class="image-grid">
    <div class="image-grid__content">
        <div class="image-grid__item">
            <img src="/images/team-image-grid/1.webp" alt="" class="image-grid__item-image">
        </div>
        <div class="image-grid__item">
            <img src="/images/team-image-grid/2.webp" alt="" class="image-grid__item-image">
        </div>
        <div class="image-grid__item">
            <img src="/images/team-image-grid/3.webp" alt="" class="image-grid__item-image">
        </div>
    </div>
</section>