<section class="theater">
    <div class="theater__content">
        <img src="/images/theater.svg" alt="" class="theater__image js-fade-in">
        <div class="theater__top-text js-fade-in">
            DALI — это театр кухни
        </div>
        <div class="theater__bottom-wrapper">
            <div class="theater__bottom-text js-fade-in">
                в историческом центре Казани
            </div>
            <div class="theater__small-text js-fade-in-and-slide">
                И я хочу расширить твои вкусовые границы...
            </div>
        </div>
    </div>
</section>